@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 300;
 }

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #faebc7; 
}

 body{
    overflow-x: hidden;
    background-color: #0a0a26;
    align-items: center;
    justify-content: center;
    padding: 0;
 }

 nav{
    height: 4.5rem;
    width: 100vw;
    background-color: #0a0a26;
    box-shadow:
  0px 1.6px 2.5px rgba(0, 0, 0, 0.031),
  0px 4px 6.4px rgba(0, 0, 0, 0.044),
  0px 8.2px 13.1px rgba(0, 0, 0, 0.056),
  0px 16.8px 27px rgba(0, 0, 0, 0.069),
  0px 46px 74px rgba(0, 0, 0, 0.1)
;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
 }
 
 .logo{
    padding:1vh 1vw;
    text-align: center;
 }
 
 .logo img {
    padding: 1vh 1vw;
    width: 100px;
 }

 .logocel img {
  width: 0px;
  padding: 0px;
  margin: 0px;
 }
 
 .nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
 }
 
 .nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #fae7b7;
    font-weight: 700;
 }
 .nav-links li a:hover {
    color: #fae7b770;
 }

 .nav-links li {
    position: relative;
 }
 .nav-links li a:hover::before{
    width: 80%;
 }

 
 .hamburger div{
    width: 30px;
    height:3px;
    background: #fae7b7;
    margin: 5px;
    transition: all 0.3s ease;
 }
 .hamburger{
    display: none;
 }



 #fotoprincipal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 60%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 1;
 }



 @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
  
    to {
      transform: rotateZ(360deg);
    }
  }



  .content {
    background-color: #090612;
    width: 250px;
    height: 50px;
    border-radius: 19px;
    scale: 2;
    z-index: 2;

    box-shadow:
    3.2px 3.1px 2.2px rgba(0, 0, 0, 0.025),
    7.6px 7.4px 5.3px rgba(0, 0, 0, 0.036),
    14.4px 13.9px 10px rgba(0, 0, 0, 0.045),
    25.7px 24.8px 17.9px rgba(0, 0, 0, 0.054),
    48px 46.4px 33.4px rgba(0, 0, 0, 0.065),
    115px 111px 80px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow:0px 0px 116px 5px rgba(250,235,199,0.51);
    -moz-box-shadow: 0px 0px 116px 5px rgba(250,235,199,0.51);
    box-shadow: 0px 0px 116px 5px rgba(250,235,199,0.51);

    position: absolute;
    top: 70%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    z-index: 4;

  }

  .content h2 {
    color:aliceblue;
    text-align: center;
    margin: 10px;
    padding: 5px;
    top: 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    letter-spacing: 1px;
    z-index: 4;
    
  }

  .content2 {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fae7b7;
    color:rgb(14, 18, 63);
    text-align: center;

    box-shadow:
    3.2px 3.1px 2.2px rgba(0, 0, 0, 0.025),
    7.6px 7.4px 5.3px rgba(0, 0, 0, 0.036),
    14.4px 13.9px 10px rgba(0, 0, 0, 0.045),
    25.7px 24.8px 17.9px rgba(0, 0, 0, 0.054),
    48px 46.4px 33.4px rgba(0, 0, 0, 0.065),
    115px 111px 80px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow:0px 0px 116px 5px rgba(250,235,199,0.51);
    -moz-box-shadow: 0px 0px 116px 5px rgba(250,235,199,0.51);
    box-shadow: 0px 0px 116px 5px rgba(250,235,199,0.51);

    position: absolute;
    top: 74.5%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    z-index: 2;

  }

  .content2 a {
        background-color: #fae7b7;
        color:rgb(31, 38, 118);
        text-align: center;
        font-size: 20px;
        font-weight: 750;
        font-family: 'Hanken Grotesk', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
      }

    .content2 a:hover {
        color: #000000;
        transition: 0.5s ease-in-out;
    }



    .section2 {
        margin-top: 120vh;
    }

    #quemsomos h1 {
        text-align: start;
        margin: 0 0 0 0;
        padding: 15px;
        top: 30px;
        margin-top: 50px;
        font-size: 40px;
        font-weight: 900;
        color: #fae7b7;
        font-family: 'Hanken Grotesk', sans-serif;
        letter-spacing: 1px;
        z-index: 4;

    }

    #textoquemsomos p {
        margin: 0 150px 0 150px;
        margin-left: 15vw;
        text-align: justify;
        font-size: 20.5px;
        font-weight: 350;
        color: #fae7b7;
        font-family: 'Hanken Grotesk', sans-serif;
        letter-spacing: 1px;
        z-index: 4;
        max-width: auto;
    }

    #fotoceu img {
        float: left;
        width: 75vh;
        margin: 9vh;
        margin-left: 10vw;
        margin-bottom: 100px;
        border-radius: 10px;
        box-shadow:
        3.2px 3.1px 2.2px rgba(0, 0, 0, 0.025),
        7.6px 7.4px 5.3px rgba(0, 0, 0, 0.036),
        14.4px 13.9px 10px rgba(0, 0, 0, 0.045),
        25.7px 24.8px 17.9px rgba(0, 0, 0, 0.054),
        48px 46.4px 33.4px rgba(0, 0, 0, 0.065),
        115px 111px 80px rgba(0, 0, 0, 0.09)
        ;
        -webkit-box-shadow:0px 0px 150px 0px rgba(250,235,199,0.36);
        -moz-box-shadow: 0px 0px 150px 0px rgba(250,235,199,0.36);
        box-shadow: 0px 0px 150px 0px rgba(250,235,199,0.36);
    }

    #fotoceu {
        transform: perspective(2500px) rotateY(15deg);
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        transition: transform 1s ease 0s;
      
        &:hover {
          transform: perspective(3000px) rotateY(5deg);
        }
    }

    .section3 {
      padding: 0;
      margin: 0;
    }

    #diferencial {
      margin-top: 40vh;
      width: 100vw;
      max-width: 100%;
    }

    #diferencial h3 {
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: #fae7b7;
      font-family: 'Hanken Grotesk', sans-serif;
      letter-spacing: 1px;
    }

    #diferencial p {
      font-size: 15px;
      font-weight: 400;
      color: #fae7b7;
      font-family: 'Hanken Grotesk', sans-serif;
      letter-spacing: 1px;

    }

    #diferencial h1 {
      margin-top: 200px;
      text-align: center;
      margin: 0 0 0 0;
      padding: 15px;
      top: 30px;
      margin-top: 50px;
      font-size: 40px;
      font-weight: 900;
      color: #fae7b7;
      font-family: 'Hanken Grotesk', sans-serif;
      letter-spacing: 1px;
    } 

    #diferencial img {
      width: 6vh;
      margin: 10px;
      justify-content: center;
      align-items: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      padding: 1rem;
      list-style-type: none;
    }
    
    ul::after {
      border-radius: 1rem;
      content: "";
      position: absolute;
      background: hsl(0 0% 10%);
      pointer-events: none;
      z-index: -2;
      inset:
        calc(var(--top) * 1px)
        calc(100% - (var(--right) * 1px))
        calc(100% - (var(--bottom) * 1px))
        calc(var(--left) * 1px);
      transition: inset 0.2s;
    }
    
    ul[data-enhanced]:hover {
      --active: 1;
    }
    ul[data-enhanced]::after {
      opacity: var(--active, 0);
      transition: opacity 0.2s, inset 0.2s 0.2s;
    }
    ul[data-enhanced]:hover::after {
      transition: opacity 0.2s 0.2s, inset 0.2s;
    }
    
    @supports(anchor-name: --anchor) {
      li:nth-of-type(1) article { anchor-name: --develop; }
      li:nth-of-type(2) article { anchor-name: --preview; }
      li:nth-of-type(3) article { anchor-name: --ship; }
      li:nth-of-type(4) article { anchor-name: --profit; }
    
      :root { --anchor: --develop; }
      :root:has(li:nth-of-type(1):hover) { --anchor: --develop; }
      :root:has(li:nth-of-type(2):hover) { --anchor: --preview; }
      :root:has(li:nth-of-type(3):hover) { --anchor: --ship; }
      :root:has(li:nth-of-type(4):hover) { --anchor: --profit; }  
    
      ul::after {
        position-anchor: var(--anchor);
        inset:
          anchor(top)
          anchor(right)
          anchor(bottom)
          anchor(left);
      }
    
      ul:has(li:hover) {
        --active: 1;
      }
      ul::after {
        opacity: var(--active, 0);
        transition: opacity 0.2s, inset 0.2s 0.2s;
      }
      ul:hover::after {
        transition: opacity 0.2s 0.2s, inset 0.2s;
      }
      
      article::after {
        content: unset;
        display: none;
      }
    }
    
    ul:not([data-enhanced]) article::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -2;
      background: hsl(0 0% 10%);
      border-radius: 1rem;
      opacity: var(--li-active, 0);
      transition: opacity 0.2s;
    }
    
    article {
      color: hsl(0 0% 80%);
      padding: 1rem;
      display: grid;
      gap: 0.5rem;
      position: relative;
    }
    
    article::before {
      content: "";
      position: absolute;
      inset: 0;
      background:
        linear-gradient(var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px,
        linear-gradient(90deg, var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px;
      mask: linear-gradient(-35deg, var(--bg) 0%, transparent 45%);
      z-index: -1;
      opacity: var(--li-active, 0);
      transition: opacity 0.2s;
    }
    
    li:hover {
      --li-active: 1;
    }
    
    
    li:nth-of-type(1) { --hue: 30; }
    li:nth-of-type(2) { --hue: 280; }
    li:nth-of-type(3) { --hue: 210; }
    li:nth-of-type(4) { --hue: 120; }








    .section4 {
        margin-top: 20vh;
    }
  
    #servicos h1 {
      margin-top: 200px;
      text-align: center;
      margin: 0 0 0 0;
      padding: 50px;
      top: 30px;
      margin-top: 50px;
      font-size: 40px;
      font-weight: 900;
      color: #fae7b7;
      font-family: 'Hanken Grotesk', sans-serif;
      letter-spacing: 1px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        max-width: 1200px;
        grid-gap: 24px;
        margin: 0 auto;
        padding: 0 2em;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        filter(drop-shadow):
        3.2px 3.1px 2.2px rgba(0, 0, 0, 0.025),
        7.6px 7.4px 5.3px rgba(0, 0, 0, 0.036),
        14.4px 13.9px 10px rgba(0, 0, 0, 0.045),
        25.7px 24.8px 17.9px rgba(0, 0, 0, 0.054),
        48px 46.4px 33.4px rgba(0, 0, 0, 0.065),
        115px 111px 80px rgba(0, 0, 0, 0.09)
      ;
      }

      .card {
        position: relative;
        padding-bottom: 150%;
      }
      
      .card-background {
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        border-radius: 24px;
        filter: brightness(.75) saturate(1.2) contrast(.85);
        transition: .3s;
      }
      
      .card-content {
        position: absolute;
        padding: 24px;
        font-family: arial, sans-serif;
        color: white;
      }
      
      .card-content p {
        color: rgba(255, 255, 255, .6);
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: .9rem;
      }
      
      .card-content h3 {
        font-size: 1.7rem;
        font-weight: 700;
        color: #faebc7;
        text-shadow: rgba(250,235,199,0.67) 0px 0px 39px;
      }
      
      .card:hover .card-background {
        transform: scale(1.05);
        filter: brightness(1.3);
        -webkit-box-shadow:0px 0px 116px 5px rgba(255,255,255,0.24);
        -moz-box-shadow: 0px 0px 116px 5px rgba(255,255,255,0.24);
        box-shadow: 0px 0px 116px 5px rgba(255,255,255,0.24);
      }

      .cards:hover > .card:not(:hover) > .card-background {
        filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
      }
      


      .section5 {
        margin-top: 30vh;
    }

    #contato h1 {
      margin-top: 200px;
      text-align: center;
      margin: 0 0 0 0;
      padding: 15px;
      top: 30px;
      margin-top: 50px;
      font-size: 40px;
      font-weight: 900;
      color: #fae7b7;
      font-family: 'Hanken Grotesk', sans-serif;
      letter-spacing: 1px;
    }

    
    form {
      width: min(650px, 95%);
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #faebc7
    }
    
    input[type="text"],
    select,
    textarea {
      font-size: 1rem;
      width: 100%;
      padding: 14px;
      background-color: transparent;
      color: #faebc7;
      outline: 0;
      border: 1.5px solid #faebc7;
      border-radius: 4px;
      margin: 10px 0 20px;
      resize: vertical;
    }
    
    input[type="text"]:focus-visible,
    select:focus-visible,
    textarea:focus-visible {
      border: 2.5px solid #faebc7;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #faebc7;
      
    }
    
    .submit-btn, .submit-btn>a {
      padding: 0;
      font-size: 1.3rem;
      font-weight: 800;
      margin: 10px auto 0;
      background-color: #faebc7;
      text-decoration: none;
      color: #11092c;
      border-radius: 10px;
    }

    .submit-btn>a {
      padding: 10px;
    }
    
    .submit-btn:hover, .submit-btn>a:hover {
      padding: auto;
      background-color: #11092c;
      color: #faebc7;
      transition: all 0.3s ease;
    }

    .final {
      margin-top: 30vh;
    }

    ul {
      margin: 0px;
      padding: 0px;
  }

  .footer-section {
    background: #090618;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #04030d;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    padding: 20px;
    color: #cec1a4;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    margin-top: 0px;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }

  .footer-logo img {
      max-width: 150px;
      float: right;
      padding: 10px;
  }

  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #ffffff;
    line-height: 28px;
  }

  .footer-social-icon span {
    color: #cec1a4;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-bottom: 20px;
  }

  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }

  .copyright-area{
    background: #090618;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
  }
  .copyright-text p a{
    color: #7c6ce4;
    text-decoration: none;
  }

  

 @media screen and (max-width: 750px){

  .logo img {
    width: 0px;
    padding: 0px;
    margin: 0px;
 }

 .logocel img {
  padding: 1vh 1vw;
  width: 55px;
 }
 


    nav{
        position: fixed;
        top: 0;
        z-index: 6;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 4;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        top: 0;
        background: #05051b;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }


    #fotoprincipal img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 95%;
        height: 500px;
        object-fit: cover;
        object-position: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        z-index: 1;
        margin-top: 5vh;
     }

    .content {
    background-color: #090612;
    width: 40vh;
    border-radius: 19px;
    scale: 1;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    z-index: 3;

    box-shadow:
    0px 0px 12.2px rgba(0, 0, 0, 0.133),
    0px 0px 41.1px rgba(0, 0, 0, 0.197),
    0px 0px 184px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow:0px 0px 176px 6px rgba(250,235,199,0.81);
    -moz-box-shadow: 0px 0px 176px 6px rgba(250,235,199,0.81);
    box-shadow: 0px 0px 176px 6px rgba(250,235,199,0.81);

  }
  
  .content h2 {
    color:aliceblue;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    letter-spacing: 1px;
    
  }

  .content2 {
    width: 30vh;
    border-radius: 10px;
    background-color: #fae7b7;
    color:rgb(14, 18, 63);
    z-index: 2;
    scale: 0.7;
    margin-top: 12.5px;
    margin-left: 15px;
    margin-right: 80px;
    margin-bottom: 70px;

    box-shadow:
    0px 0px 12.2px rgba(0, 0, 0, 0.133),
    0px 0px 41.1px rgba(0, 0, 0, 0.197),
    0px 0px 184px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow:0px 0px 176px 6px rgba(250,235,199,0.81);
    -moz-box-shadow: 0px 0px 176px 6px rgba(250,235,199,0.81);
    box-shadow: 0px 0px 176px 6px rgba(250,235,199,0.81);


  }

  .content2 a {
        font-size: 18px;
        font-weight: 750;
        font-family: 'Hanken Grotesk', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
      }



  #quemsomos h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #fae7b7;
    font-family: 'Hanken Grotesk', sans-serif;
    letter-spacing: 1px;
    z-index: 4;
    margin-top: -150px;
}

  #textoquemsomos p {
    margin: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fae7b7;
    font-family: 'Hanken Grotesk', sans-serif;
    letter-spacing: 1px;
    z-index: 4;
    margin-top: -20px;
    
}

  #fotoceu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: -300px;
    padding: 0;
    height: 100vh;
    width: 100%;
    
}

  #fotoceu img {
    border-radius: 50%;
    height: 35vh;
    width: 35vh;
    padding: 0;
    margin: 100px 0 30px 0;
}


  #fotoceu {
    transform: perspective(3000px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 0s ease 0s;
  
    &:hover {
      transform: perspective(3000px) rotateY(15deg);
    }
 }

 ul, li {
  max-width: 70vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
}

#diferencial {
  margin-top: 200px;
}

#diferencial p {
  padding: 0;
  margin: 0;
  width: 35vh;
}

#diferencial h3 {
  font-size: 15px;
  width: 85%;
  font-weight: 800;
  text-align: start;
}

#diferencial img {
  width: 6vh;
  margin: 10px;
}
 

.section4 {
  margin-top: auto;
}


input[type="text"],
    select,
    textarea {
      padding: 10px;
      width: 85vw;
    }



  .footer-logo img {
      max-width: 200px;
      float: none;
      padding: 30px;
      margin: 0 auto;
      margin-bottom: -80px;
      margin-bottom: -40px;
      display: block;
  }





 .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }
}

@media (min-width: 540px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #quemsomos h1 {
      text-align: center;
}

}

@media (min-width: 960px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  #quemsomos h1 {
      text-align: start;
}


}
